@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	transition: 2s linear;
}
:root {
	--clr-primary: #d22ae0;
	--clr-secondary: #795341;
	--clr-white: #fff;
	--clr-bg: #fff;
	--clr-light: #fafafa;
	--light: rgba(255, 255, 255, 0.3);
	--clr-dark: #0000008c;
	--clr-black: #000;
	--border: 0.1rem solid #d3ad7f;
	--clr-robins-egg-blue: #2fdae5;
	--clr-green: #18a337;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 7.5rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 1rem;
}
html::-webkit-scrollbar-track {
	background: var(--clr-white);
}
html::-webkit-scrollbar-thumb {
	background: var(--clr-primary);
	border-radius: 5rem;
}
body {
	background-color: var(--clr-bg);
	font-family: 'Poppins', sans-serif;
}

body.active {
	--clr-white: #161618;
	--clr-dark: #0000008c;
	--clr-black: #fff;
	--clr-light: #fafafa;
	--light: rgba(255, 255, 255, 0.3);
	background: #222;
}
/*------------global----------------*/
section {
	padding: 1rem 9%;
}
.btn {
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: var(--clr-black);
	color: var(--clr-white);
	font-size: 1.8rem;
	padding: 0.8rem 3.5rem;
	cursor: pointer;
	text-transform: capitalize;
}
.btn:hover {
	background: var(--clr-primary);
	color: var(--clr-white);
}
.heading {
	padding: 1rem 0;
	margin-bottom: 2rem;
	border-bottom: var(--border);
	font-size: 3rem;
	color: var(--clr-black);
	text-transform: uppercase;
}
.heading span {
	color: var(--clr-primary);
	text-transform: uppercase;
}
/*===========header===============*/
header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--clr-white);
	border-bottom: var(--border);
	padding: 1.5rem 9%;
}

header .logo {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--clr-black);
	font-size: 3rem;
}
header .logo span {
	color: var(--clr-primary);
}

header form {
	display: flex;
	align-items: center;
	width: 40rem;
	border-radius: 5rem;
	height: 5rem;
	background-color: var(--clr-black);
	overflow: hidden;
}

header form input {
	width: 100%;
	height: 100%;
	background: none;
	font-size: 1.7rem;
	color: var(--clr-white);
	padding: 0 2rem;
	text-transform: none;
}
header form label {
	font-size: 2rem;
	padding-right: 2rem;
	color: var(--clr-white);
	text-align: center;
	cursor: pointer;
}
header form label:hover {
	color: var(--clr-primary);
}

/*-------header icons--------*/
header .icons div,
header .icons a {
	height: 4rem;
	width: 4rem;
	font-size: 1.6rem;
	line-height: 4rem;
	background-color: var(--clr-black);
	color: var(--clr-white);
	border-radius: 50%;
	text-align: center;
	margin-right: 0.8rem;
	cursor: pointer;
}

header .icons div:hover,
header .icons a:hover {
	background-color: var(--clr-primary);
	color: var(--clr-white);
	transform: rotate(360deg);
}
header.active {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
/*===========navbar===============*/
.navbar {
	position: fixed;
	height: 100%;
	top: 0;
	z-index: 1000;
	left: -120%;
	background-color: var(--clr-white);
	padding: 3rem;
	width: 30rem;
}

.navbar.active {
	left: 0;
	box-shadow: 0 0 0 100vw var(--clr-light);
}

.navbar .user {
	text-align: center;
	margin: 3rem auto;
}

.navbar .user img {
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
	border: var(--border);
	object-fit: cover;
	box-shadow: 5rem 2rem 0 -3rem var(--clr-primary),
		-5rem -2rem 0 -3rem var(--clr-primary);
}

.navbar .user h3 {
	padding-top: 0.5rem;
	color: var(--clr-black);
	font-weight: 600;
	font-size: 2rem;
}

.navbar .links a {
	display: block;
	border-bottom: var(--border);
	font-size: 2rem;
	padding: 1.5rem 0;
	color: var(--clr-black);
}
.navbar .links a:last-child {
	border: none;
}
.navbar .links a:hover {
	letter-spacing: 0.2rem;
	color: var(--clr-primary);
}
.navbar #close {
	position: absolute;
	top: 1rem;
	right: 2rem;
	font-weight: bold;
	font-size: 3rem;
	color: var(--clr-black);
	cursor: pointer;
}

/*===============home===================*/
.home {
	min-height: 90vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap-reverse;
	gap: 1.5rem;
}
.home .content {
	flex: 1 1 40rem;
}
.home .home-img {
	flex: 1 1 40rem;
	text-align: center;
}
.home img {
	width: 30vw;
}
.home .content span {
	color: var(--clr-primary);
	font-size: 3rem;
}
.home .content h3 {
	color: var(--clr-black);
	font-size: 8rem;
	text-transform: uppercase;
}
.home .content h3 span {
	color: var(--clr-primary);
	font-size: 8rem;
	text-transform: uppercase;
}
/*===============category===================*/
.category .card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.category .card-container .card {
	height: 30rem;
	flex: 1 1 40rem;
	border-radius: 0.5rem;
	position: relative;
	overflow: hidden;
}
.category .card-container .card img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.category .card-container .card img:hover {
	transform: scale(1.1);
}
.category .card-container .card .content {
	position: absolute;
	bottom: 7rem;
	left: 2rem;
}
.category .card-container .card .content span {
	font-size: 2rem;
	color: var(--clr-primary);
}
.category .card-container .card .content h3 {
	font-size: 3rem;
	text-transform: uppercase;
	color: var(--light);
	padding-top: 0.5rem;
}

/*===============products=================*/
.products .product-slider .slide {
	overflow: hidden;
	position: relative;
	border: var(--border);
	border-radius: 0.5rem;
	background: var(--clr-white);
}
.products .product-slider .slide .image {
	padding: 1rem;
}
.products .product-slider .slide .image img {
	min-height: 50rem;
	width: 100%;
	object-fit: cover;
}
.products .product-slider .slide .content {
	padding: 2rem;
	border-top: var(--border);
}
.products .product-slider .slide .icons {
	position: absolute;
	top: 0;
	right: -7rem;
}

.products .product-slider .slide:hover .icons {
	right: 1rem;
}

.products .product-slider .slide .icons a {
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	text-align: center;
	font-size: 2rem;
	border-radius: 50%;
	background: var(--clr-black);
	color: var(--clr-white);
	display: block;
	margin-top: 1rem;
}
.products .product-slider .slide .icons a:hover {
	background: var(--clr-primary);
	color: var(--clr-white);
}
.products .product-slider .slide .content .stars i {
	font-size: 2rem;
	color: var(--clr-primary);
}
.products .product-slider .slide .content .stars span {
	font-size: 2rem;
	color: var(--clr-black);
	font-weight: 300;
}
.products .product-slider .slide .content h3 {
	color: var(--clr-black);
	font-weight: normal;
	font-size: 2.5rem;
	padding: 0.5rem 0;
}
.products .product-slider .slide .content .price {
	color: var(--clr-primary);
	font-weight: bolder;
	font-size: 2rem;
	padding: 0.5rem 0;
}
.products .product-slider .slide .content .price span {
	color: var(--clr-dark);
	font-weight: bolder;
	font-size: 1.5rem;
	text-decoration: line-through;
}
.products .product-slider .swiper-button-next,
.products .product-slider .swiper-button-prev {
	color: var(--clr-black);
}

/*===============featured section===================*/
.featured .card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.featured .card-container .card {
	flex: 1 1 27rem;
	background: var(--clr-white);
	border: var(--border);
	border-radius: 0.5rem;
	padding: 1rem;
}
.featured .card-container .card .img-container {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	padding: 1rem;
}
.featured .card-container .card .img-container .small-image {
	width: 20%;
}
.featured .card-container .card .img-container .big-image {
	width: 80%;
}
.featured .card-container .card .img-container .small-image img {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: var(--border);
	cursor: pointer;
}
.featured .card-container .card .img-container .big-image img {
	width: 100%;
}

.featured .card-container .card .content {
	padding: 1rem;
	border-top: var(--border);
}
.featured .card-container .card .content h3 {
	font-size: 1.5rem;
	color: var(--clr-black);
}

.featured .card-container .card .content .stars {
	padding: 0.5rem 0;
}
.featured .card-container .card .content .stars i {
	font-size: 1.5rem;
	color: var(--clr-primary);
}

.featured .card-container .card .content .stars span {
	font-size: 2rem;
	color: var(--clr-black);
	font-weight: 300;
}
.featured .card-container .card .content p {
	color: var(--clr-black);
	font-size: 1.5rem;
	padding: 0.5rem 0;
}
.featured .card-container .card .content .price {
	color: var(--clr-primary);
	font-size: 2.5rem;
	padding: 0.5rem 0;
	font-weight: bolder;
}
.featured .card-container .card .content .price span {
	color: var(--clr-black);
	font-size: 1.5rem;
	text-decoration: line-through;
	font-weight: 300;
}

/*===============deal===================*/
.deal .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	text-align: center;
	border: var(--border);
	background: var(--clr-white);
	border-radius: 0.5rem;
	padding: 1rem;
}
.deal .row .content {
	flex: 1 1 40rem;
}
.deal .row .image {
	flex: 1 1 40rem;
	padding: 2rem;
}
.deal .row .image img {
	width: 100%;
}
.deal .row .discount {
	font-size: 2rem;
	color: var(--clr-primary);
}
.deal .row .text {
	font-size: 4rem;
	color: var(--clr-black);
	padding: 0.5rem 0;
}
.deal .row .count-down {
	display: flex;
	gap: 2rem;
	justify-content: center;
	padding: 0.5rem 0;
}
.deal .row .count-down h3 {
	display: flex;
	font-size: 4rem;
	color: var(--clr-primary);
}
.deal .row .count-down span {
	font-size: 1.5rem;
	color: var(--clr-primary);
}
/*===============review===================*/
.review .review-slider .slide {
	background: var(--clr-white);
	border: var(--border);
	border-radius: 0.5rem;
	padding: 2rem;
}
.review .review-slider .slide .stars {
	padding: 1rem 0;
}
.review .review-slider .slide .stars i {
	font-size: 2rem;
	color: var(--clr-primary);
}
.review .review-slider .slide p {
	color: var(--clr-black);
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.5;
	padding: 1rem 0;
}
.review .review-slider .slide .user {
	padding-top: 0.5rem;
	display: flex;
	align-items: center;
}
.review .review-slider .slide .user img {
	width: 7rem;
	height: 7rem;
	margin-right: 1.5rem;
	border-radius: 50%;
	object-fit: cover;
}
.review .review-slider .slide .user h3 {
	color: var(--clr-black);
	font-size: 2.5rem;
}
.review .review-slider .slide .user span {
	color: var(--clr-dark);
	font-size: 1.5rem;
}
/*===============footer===================*/
.footer .footer-container {
	background: var(--clr-white);
	border: var(--border);
	border-radius: 0.5rem;
	padding: 2rem;
}
.footer .footer-container .card-container {
	display: flex;
	flex-grow: wrap;
	gap: 1.5rem;
}
.footer .footer-container .card-container .card {
	flex: 1 1 25rem;
}
.footer .footer-container .card-container .card h3 {
	color: var(--clr-primary);
	font-size: 2.5rem;
	padding: 1rem 0;
}
.footer .footer-container .card-container .card a {
	display: block;
	color: var(--clr-black);
	font-size: 1.5rem;
	padding: 1rem 0;
	font-weight: 300;
}
.footer .footer-container .card-container .card a:hover {
	color: var(--clr-primary);
}
.footer .footer-container .card-container .card img {
	margin-top: 1rem;
}
.footer .footer-container .copyright {
	font-size: 1.6rem;
	margin-top: 2rem;
	padding-top: 2rem;
	text-transform: capitalize;
	border-top: var(--border);
	color: var(--clr-black);
	text-align: center;
}
.footer .footer-container .copyright span {
	color: var(--clr-primary);
}
/*===========media query===============*/

@media (max-width: 991px) {
	html {
		font-size: 55%;
	}
	header {
		padding: 1.5rem;
	}
	section {
		padding: 1.5rem;
	}
	.home .content {
		font-size: 5rem;
	}
}

@media (max-width: 768px) {
	header {
		flex-flow: column;
	}
	header form {
		width: 100%;
		margin: 2rem 0;
	}
	header.active {
		transform: translateY(-12.5rem);
	}
	.home .content {
		text-align: center;
	}
	.home .content img {
		width: 100%;
	}
	.footer .footer-container .card-container .card h3 {
		font-size: 2rem;
	}
	.footer .footer-container .copyright {
		font-size: 1.3rem;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.heading {
		margin-bottom: none;
		text-align: center;
		font-size: 2.5rem;
	}
}
